@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

.glide {
    position: relative;

    &__arrows {
        left: 50%;
        z-index: 2;
        position: absolute;
        transform: translate(-50%, -50%);
        pointer-events: none;
        display: flex;
        justify-content: space-between;
        outline: none;
        top: 26.5%;
    }

    &__arrow {
        outline: none;
        pointer-events: all;

        &--right {

            &:hover {
            }
        }

        &--left {

            &:hover {
            }
        }
    }
}
