include ../data/data
include ../utils/index
include ../../../blocks/index

doctype html
html(lang="ru")
  head
    include ../head/head
    block title
  body
    block header
    main#main.main
      block content
    block footer
    script(src="index.js")
