meta(charset='utf-8')
meta(http-equiv='x-ua-compatible', content='ie=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='canonical', href=siteUrl)
meta(name='description', content=siteDescription)
meta(name='googlebot', content='all')

// Disable tap highlight on IE
meta(name='msapplication-tap-highlight', content='no')
